@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  transform:         $transform;
}
@mixin border-radius($border-radius...) {
  -moz-border-radius:    $border-radius;
  -o-border-radius:      $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius:         $border-radius;
}
