<section class="metadata">
  {{ $dateTime := .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}
  <div class="datetime">
    <time datetime="{{ $dateTime }}">
    {{ .PublishDate.Day }} {{ index $.Site.Data.mois (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
    </time>
  </div>
  <div class="tags">
  {{ with .Params.categories }}
  {{ range . }}
  {{ $href := print (absURL "categories/") (urlize .) }}
    <a class="" href="{{ $href }}">{{ . }}</a>
  {{ end }}
  {{ end }}
  </div>
</section>
