{{.Scratch.Set "src" (.Page.Resources.GetMatch (printf "*%s*" (.Get "src"))) }}
{{ $src := .Scratch.Get "src" }}

{{ .Scratch.Set "tiny" ($src.Resize "300x") }}
{{ .Scratch.Set "small" ($src.Resize "600x") }}
{{ .Scratch.Set "medium" ($src.Resize "1200x") }}
{{ .Scratch.Set "large" ($src.Resize "2400x") }}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
{{ $large := .Scratch.Get "large" }}

<img
  itemprop="image"
  sizes="100vw"
  srcset="{{ $tiny.RelPermalink }} 300w, {{ $small.RelPermalink }} 600w, {{ $medium.RelPermalink }} 1200w, {{ $large.RelPermalink }} 2400w"
  src="{{ $medium.RelPermalink }}"
  alt="{{ $src.Title }}" />
