main {
  .featured {
    img {
      padding: 0 20px;
    }
  }

  article {
    max-width: 1000px;
    margin: 0 auto;
    header {
      .metadata {
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        .datetime {
          margin-bottom: 20px;
          color: $text-color-alt;
        }
        .tags a {
          color: $tag-color;
        }
      }
      .title {
        font-size: 3rem;
      }
      font-weight: 700;

    }
    section.content {

      margin-top: 50px;
      font-size: 1.2em;
      line-height: 1.8em;

      > p {
        text-align: justify;
      }

      > p:first-child:first-letter {
        font-size: 6rem;
        line-height: 8rem;
        font-weight: bold;
        float: left;
        margin-right: 10px;
        padding: 5px;
      }
    }

  }

}
