// -----------------------------------------------------------------------------
// Main
// -----------------------------------------------------------------------------

main {
  grid-area: main;

  .list {
    &-title {
      font-size: 100px;
      text-align: center;
      text-transform: capitalize;
    }
  }
}
